
*{
  
    margin: 0;
    font-family: "Roboto", "Arial" !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
  
}

.app {
  max-width: 1080px;
  margin: auto;
  
}

.title{
  margin: 0;
  color: black;
  font-size:40px ;
}

.header{
  width: 100%;
  display: flex;
  justify-content: space-between ;
  margin-top: 20px;
  position: relative;
  
}

.searchBar{
  width: 400px;
  
}

.watchlist-container, .trending-container{
  
  width: 350px;
  
}

.watchlist-container .title, .trending-container .title, .news-container .title{
  font-size: 25px;
  margin-bottom: 5px;
}

.watchlist-container .stock-data, .trending-container .stock-data{
  margin: 2px 0px 0px 10px;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  
}


.delete-button{
  
  display: none;
  border:  none;
  background-color: transparent;
  cursor: pointer;
}

.stock-data:hover  .delete-button{
  display: block;
}

.watchlist-trending-container{
  margin: 30px auto;

  display: flex;
  justify-content:space-around;

}

.stock-name{
  font-weight: bold;
}


.article-container{
  margin: 10px 0  ;
}
.article-container .article-title{
  font-weight: bold;
  color: inherit;
  text-decoration: none;
}



.article-info{
  display: flex;
  font-style: italic;
  margin-left: 20px;
}

.article-info p{
  font-size: 15px;
  margin-left: 10px;
}

.modal-container{
  margin-top: 20px;
 }
 
 .modal-header{
   display: flex;
   justify-content: space-between;
 }
 
 
 .modal-price-container{
   display: flex;
   justify-content: space-between;
   margin-top: 15px;
 }
 
 .modal-prices h1 , .modal-prices h2 , .modal-prices h3{
   display: inline-block;
   margin: 0;
 
 }
 
 .modal-price-column .price-date p{
   font-style: italic;
 }
 
 .stocks-data-container{
   display: flex;
   justify-content: space-between;
   margin-top: 10px;
 }
 
 .stocks-data-column{
   width: 300px;
   max-width: 350px;
 }
 
 .stock-data-label-price{
   display: flex;
   justify-content: space-between;
   margin: 5px 10px;
   border-bottom: 1px solid rgb(152, 152, 152);
 }
 
 .stock-data-label{
   font-weight:100;
 }
 
 .stock-data-info{
   font-weight: bold;
 }
 